html,
body,
#__nuxt {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Background Colors */
.lilac-bg {
  background-color: #e0a2ff;
}

.hot-pink-bg {
  background-color: #e86ba7;
}

.poudre-bg {
  background-color: #f7eaff;
}

.coco-bg {
  background-color: #ffffff;
}

/* Text Colors */
.lilac-text {
  color: #e0a2ff;
}

.hot-pink-text {
  color: #e86ba7;
}

.poudre-text {
  color: #f7eaff;
}

.coco-text {
  color: #ffffff;
}

/*
remove the arrow set in p-popover::before
can be removed once the issue is fixed in primevue
*/
.p-popover::before,
.p-popover::after,
.p-confirmpopup::before,
.p-confirmpopup::after {
  content: none;
  display: none;
}